body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 18px;
}

* {
    box-sizing: border-box;
}

.container {
    padding: 1%;
    max-width: 400%;
    margin:0 auto;
    
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #04AA6D;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    opacity: 0.8;
}
