<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Creation Result</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='outer_style.css') }}">
    <style>
        button {
            width: 100%;
            background-color: #04AA6D;
            color: white;
            padding: 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }
        
        button:hover {
            opacity: 0.8;
        }
    </style>

</head>
<body>
    <h1>Table Creation Result</h1>
    <hr>


    {% for message in messages %}

        {% if message[2]=='Table created successfully' or message[2]=='Table already exists.' %}
        <div class="success">
            <h3>{{ message[0] }} : {{ message[1] }}</h3>
            <p>{{ message[2] }}</p>
        </div>


        {% elif message[2]!='Table created successfully' %}
        <div class="error">
            <h3>{{ message[0] }} : {{ message[1] }}</h3>
            <p>{{ message[2] }}</p>
            <a onclick="goBack()"> Go Back to fix Error </a>
        </div>

        {% endif %}
    
    {% endfor %}

    <br><br><br><br>

    {% if total==num_tables %}
        <form action="/download_schema/{{ db_name }}" method="post">
            <button type="submit">click here to download schema </button>
        </form>
    {% endif %} 



    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
